@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    font-family: 'raleway';
}

body {
    padding: 10px;
}

.page {
    display: grid;
    grid-template-rows: 1fr 15fr;
    row-gap: 1px;
    height: 97.5vh;
}

.tab-menu {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-bottom: 1px solid #428bca;
}

@media (max-width: 1200px) {
    .tab-menu {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 650px) {
    .tab-menu {
        grid-template-columns: repeat(2, 1fr);
    }
}

.tab-item {
  position: absolute;
  left: -99999em;
  top: -99999em;

  & + label {
    cursor: pointer;
    float: left;
    border: 1px solid #aaa;
    border-bottom: 0;
    background-color: #fff;
    margin-right: -1px;
    padding: 0.5em 1em;

    &:hover {
      background-color: #eee;
    }
  }

  &:checked + label {
    box-shadow: 0 3px 0 -1px #fff, inset 0 5px 0 -1px #1345cd;
    background-color: #fff;
    border-color: #428bca;
  }
}

#page_content {
    border: 1px solid #1345cd;
    border-top: none;
}

.page-tab{
    padding: 10px;
}

.order-management{
    display: grid;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    border: 1px solid #1345cd;
    border-top: none;
}

.hidden {
    display: none;
}